[Unit]
Description=gunicorn daemon for simpledjango project
Requires=gunicorn_simpledjango.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=saikal
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/saikal/projects/simple_django
ExecStart=/home/saikal/projects/simple_django/env/bin/gunicorn \
          --access-logfile /home/saikal/projects/simple_django/logs/access.log \
          --error-logfile /home/saikal/projects/simple_django/logs/error.log \
          --pid /run/gunicorn/pid   \
          --env DJANGO_SETTINGS_MODULE=mysite.settings_prod \
          --workers 3 \
          --bind unix:/run/gunicorn/simpledjango_socket mysite.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
